<a href="https://colab.research.google.com/github/jki5410/data-engineering-practice/blob/main/%5BDE%5DSQLAnalysis_homework_1solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 환경설정

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.29)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 8.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=cca34285b384356ab6dc3791d2594b550bb51eefb5508139e888fd2cee6ecd05
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.49
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 4.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.29
    Uninstalling SQLAlchemy-2.0.29:
      Successfully uninstalled SQLAlchemy-2.0.29
Successfully installed SQLAlchemy-1.4.49

In [2]:
%load_ext sql

In [3]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

# 채널별 월별 매출액 테이블 만들기

session_timestamp, user_session, session_transaction 사용하기

아래와 같은 필드로 구성


*   month
*   channel
*   uniqueUsers(총 방문 사용자)
*   painUsers(구매 사용자: refund한 경우도 고려)
*   conversionRate(구매 사용자/총 방문 사용자)
*   grossRevenue(refund 포함)
*   netRevenue(refund 제외)



---

**유일한 사용자 수 세기**

In [16]:
%%sql
-- 유일한 사용자 수 세기

SELECT LEFT(ts, 7) "month",  -- month는 예약어니까.. alias로 사용하려면 따옴표 붙이기!!
  usc.channel,
  COUNT(DISTINCT userid) uniqueUsers
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid  -- inner join
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677)]



---


**복잡한 join시 먼저 join 전략부터 수립**


> 어떤 키를 기준으로 조인할지
>
> 어떤 조인 방식으로 조인할지



1.   raw_data.user_session_channel
2.   raw_data.session_timestamp
3.   raw_data.session_transaction



*   위의 3개 테이블 모두 sessionid를 기반으로 조인해야함
*   user_session_channel과 session_timestamp는 일대일 조인 가능 : INNER JOIN
*   session_transaction의 경우에는 모든 sessionid가 존재하지 않음
  *   LEFT JOIN
  *   FROM에서 상용하는 테이블은 user_session_channel 혹은 session_timestamp가 되어야함



---

**paidUsers 추가하기**

In [15]:
%%sql
-- paidUsers 추가하기

SELECT LEFT(ts, 7) "month",
  usc.channel,
  COUNT(DISTINCT userid) uniqueUsers,
  COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
GROUP BY 1, 2
ORDER BY 1, 2

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14),
 ('2019-05', 'Google', 253, 10),
 ('2019-05', 'Instagram', 234, 11),
 ('2019-05', 'Naver', 237, 11),
 ('2019-05', 'Organic', 238, 17),
 ('2019-05', 'Youtube', 244, 9),
 ('2019-06', 'Facebook', 414, 22),
 ('2019-06', 'Google', 412, 13),
 ('2019-06', 'Instagram', 410, 21),
 ('2019-06', 'Naver', 398, 15),
 ('2019-06', 'Organic', 416, 14),
 ('2019-06', 'Youtube', 400, 17),
 ('2019-07', 'Facebook', 558, 32),
 ('2019-07', 'Google', 556, 21),
 ('2019-07', 'Instagram', 567, 24),
 ('2019-07', 'Naver', 553, 19),
 ('2019-07', 'Organic', 557, 22),
 ('2019-07', 'Youtube', 564, 36),
 ('2019-08', 'Facebook', 611, 18),
 ('2019-08', 'Google', 610, 27),
 ('2019-08', 'Instagram', 621, 28),
 ('2019-08', 'Naver', 626, 22),
 ('2019-08', 'Organic', 608, 26),
 ('2019-08', 'Youtube', 614, 18),
 ('2019-09', 'Facebook', 597, 27),
 ('2019-09', 'Google', 599, 25),
 ('2019-09', 'Instagram', 588, 20),
 ('2019-09', 'Naver', 592, 21),
 ('2019-09', 'Organic', 592, 22),
 ('2019-09', 'Youtube', 588, 15),
 ('2019-10', 'Facebook', 698, 29),
 ('2019-10', 'Google', 699, 30),
 ('2019-10', 'Instagram', 707, 33),
 ('2019-10', 'Naver', 713, 32),
 ('2019-10', 'Organic', 709, 31),
 ('2019-10', 'Youtube', 705, 34),
 ('2019-11', 'Facebook', 688, 25),
 ('2019-11', 'Google', 688, 26),
 ('2019-11', 'Instagram', 669, 25),
 ('2019-11', 'Naver', 667, 26),
 ('2019-11', 'Organic', 677, 34),
 ('2019-11', 'Youtube', 677, 45)]



---

**conversionRate 추가하기**



1.   paidUsers/uniqueUsers AS conversionRate
      
      -> 정수끼리의 연산은 정수를 리턴
2.   paidUsers::float/uniqueUsers AS conversionRate
     
      -> float형으로 형 변환 후 연산
3.   ROUND(paidUsers*100.0/uniqueUsers,2) AS conversionRate

      -> %로 나타내기 위해 100을 곱함. 이때 float형(100.0)으로 연산

      -> 소수점 두 번째 자리까지 나타내기 위해 ROUND함수 사용

4. ROUND(paidUsers*100.0/NULLIF(uniqueUsers,0),2) AS conversionRate

      -> uniqueUsers의 레코드가 0인 경우가 있을 수 있음!! (divide by 0 에러 발생 위험)
      
      -> NULLIF연산 이용하여 0이면 null로 변환하여 연산결과가 null이 되도록 함

In [14]:
%%sql
-- conversionRate 추가하기

SELECT LEFT(ts, 7) "month", -- "year month"
  channel,
  COUNT(DISTINCT usc.userid) uniqueUsers,
  COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers,
  ROUND(paidUsers*100.0/NULLIF(uniqueUsers, 0),2) conversionRate,
  SUM(amount) grossRevenue,
  SUM(CASE WHEN refunded is False THEN amount END) netRevenue
FROM raw_data.user_session_channel usc
LEFT JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Google', 610, 27, Decimal('4.43'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-09', 'Organic', 592, 22, Decimal('3.72'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 33, Decimal('4.67'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 45, Decimal('6.65'), 3532, 3331)]