<a href="https://colab.research.google.com/github/jki5410/data-engineering-practice/blob/main/%5BDE%5DSQL_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주피터 SQL 엔진 설정

In [3]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.29)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.2 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=a76ac8163e46c1de266aa9edceaf57cb78ec81da372e721ce78389ba310a7c8b
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.49
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 11.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.29
    Uninstalling SQLAlchemy-2.0.29:
      Successfully uninstalled SQLAlchemy-2.0.29
Successfully installed SQLAlchemy-1.4.49

In [4]:
%load_ext sql

In [5]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

# 예제 풀이

raw_data.session_timestamp와
raw_data.user_session_channel 테이블 사용

In [2]:
%%sql

select *
from raw_data.session_timestamp
limit 10;

UsageError: Cell magic `%%sql` not found.

In [8]:
%%sql

select *
from raw_data.user_session_channel
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1491, '00029153d12ae1c9abe59c17ff2e0895', 'Organic'),
 (59, '0002ac0d783338cfeab0b2bdbd872cda', 'Naver'),
 (117, '0006246bee639c7a7b11a08e34dd3cc6', 'Youtube'),
 (572, '0006dd05ea1e999ddaa041a7091b7b36', 'Organic'),
 (935, '0007cda84fafdcf42f96c4f4adb7f8ce', 'Google'),
 (1363, '000a91f3e374e6147d58ed1814247508', 'Naver'),
 (780, '000c076c390a4c357313fca29e390ece', 'Naver'),
 (1917, '000d0c74074191add6f22e0004db8f76', 'Organic'),
 (1357, '000d54aadcedee0739d39127955f2cdb', 'Instagram'),
 (1247, '000dd3543ac84d906eae52e7c779bb2a', 'Naver')]

가장 많이 사용된 채널은?

In [11]:
%%sql

select max(distinct channel) as max_channel
from raw_data.user_session_channel;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('Youtube',)]

In [20]:
%%sql

-- 가장 많은 세션을 만들어낸 사용자 ID는?
select distinct userid as userid_make_session_max,
        count(1) as session_count
from raw_data.user_session_channel
group by 1
order by 2
limit 1;

-- distinct 안 해도 됨...
-- userid 별칭 이상하게 붙였지.. userid는 userid이고.. max는 내가 limit해서 조건준거니까.. 해당 필드는 그냥 userid인게 맞다!!..
-- 내림차순 안 했지.... 가장 많은게 위에 오려면 내림차순을 했어야!!!

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- distinct 안 해도 됨...
-- userid 별칭 이상하게 붙였지.. userid는 userid이고.. max는 내가 limit해서 조건준거니까.. 해당 필드는 그냥 userid인게 맞다!!..
-- 내림차순 안 했지.... 가장 많은게 위에 오려면 내림차순을 했어야!!!]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
%%sql

-- 월별 유니크한 사용자 수 (MAU : Mounthly Active User)
-- 한 사용자는 한 번만 카운드되어야 함
select left(ts, 7) as mon,
        count(distinct userid) as user_count
from raw_data.session_timestamp a, raw_data.user_session_channel b
where a.sessionid = b.sessionid
group by 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-06', 459),
 ('2019-05', 281),
 ('2019-10', 763),
 ('2019-07', 623),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-11', 721)]

In [33]:
%%sql

-- 월별 채널별 유니크한 사용자 수
select left(ts, 7) as mon,
        channel,
        count(distinct userid) as userid
from raw_data.session_timestamp a join raw_data.user_session_channel b on a.sessionid = b.sessionid
group by 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247),
 ('2019-11', 'Google', 688),
 ('2019-07', 'Youtube', 564),
 ('2019-09', 'Youtube', 588),
 ('2019-05', 'Youtube', 244),
 ('2019-07', 'Facebook', 558),
 ('2019-09', 'Facebook', 597),
 ('2019-05', 'Instagram', 234),
 ('2019-11', 'Facebook', 688),
 ('2019-11', 'Naver', 667),
 ('2019-05', 'Google', 253),
 ('2019-08', 'Facebook', 611),
 ('2019-10', 'Youtube', 705),
 ('2019-08', 'Instagram', 621),
 ('2019-05', 'Organic', 238),
 ('2019-08', 'Google', 610),
 ('2019-07', 'Organic', 557),
 ('2019-10', 'Organic', 709),
 ('2019-08', 'Youtube', 614),
 ('2019-08', 'Naver', 626),
 ('2019-09', 'Naver', 592),
 ('2019-10', 'Instagram', 707),
 ('2019-09', 'Google', 599),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Facebook', 698),
 ('2019-06', 'Youtube', 400),
 ('2019-06', 'Facebook', 414),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-11', 'Organic', 677),
 ('2019-06', 'Google', 412),
 ('2019-09', 'Instagram', 588),
 ('2019-10', 'Naver', 713),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Instagram', 410),
 ('2019-09', 'Organic', 592),
 ('2019-08', 'Organic', 608),
 ('2019-05', 'Naver', 237),
 ('2019-07', 'Naver', 553),
 ('2019-11', 'Youtube', 677),
 ('2019-11', 'Instagram', 669),
 ('2019-06', 'Organic', 416)]

# 숙제 #1
채널별 월별 매출액 테이블 만들기

(adhoc 밑에 CTAS로 본인이름을 포함한 테이블로 만들기)

In [10]:
%%sql

select *
from raw_data.session_transaction
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

In [16]:
%%sql

SELECT A.sessionid as sessionid, refunded, amount, userid, channel, ts
FROM raw_data.session_transaction AS A
LEFT JOIN raw_data.user_session_channel AS B ON A.sessionid = B.sessionid
LEFT JOIN raw_data.session_timestamp AS C ON A.sessionid = C.sessionid
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85, 1491, 'Organic', datetime.datetime(2019, 10, 18, 14, 14, 5, 100000)),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16, 1309, 'Organic', datetime.datetime(2019, 7, 13, 21, 53, 31, 187000)),
 ('014a5f8619d8704745b8505140f2a1a7', False, 80, 1659, 'Youtube', datetime.datetime(2019, 10, 14, 15, 40, 56, 553000)),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75, 1223, 'Youtube', datetime.datetime(2019, 6, 23, 14, 37, 41, 303000)),
 ('04dc6557c76932830029fa4348db8690', False, 133, 1735, 'Naver', datetime.datetime(2019, 9, 7, 17, 26, 31, 863000)),
 ('0557b9cfeb8f41bf4c08aa381b63ffcb', False, 126, 2514, 'Instagram', datetime.datetime(2019, 11, 26, 7, 10, 29)),
 ('07b4498a303789d2829445c725dae35a', False, 53, 1711, 'Facebook', datetime.datetime(2019, 7, 4, 18, 49, 59, 547000)),
 ('08aa31845938e32abe551e2bea5979cb', False, 35, 935, 'Facebook', datetime.datetime(2019, 9, 18, 4, 12, 25, 727000)),
 ('092dff5b934f87c1176766e1cddd6327', False, 52, 1635, 'Youtube', datetime.datetime(2019, 7, 24, 15, 54, 5)),
 ('09e5e3e94f1a12843eb46581b1e8a881', False, 14, 1807, 'Instagram', datetime.datetime(2019, 8, 2, 17, 40, 6))]

In [23]:
%%sql

SELECT  left(ts, 7) as month,
        B.channel,
        COUNT(DISTINCT U.userid) uniqueUsers,
        COUNT(DISTINCT B.userid) paidUSers,
        paidUsers::float / uniqueUsers::float conversionRate,
        SUM(amount) grossRevenue,
        SUM(CASE WHEN refunded is True THEN amount ELSE 0 END) netRevenue
       -- A.sessionid as sessionid, refunded, amount
FROM raw_data.user_session_channel AS U, raw_data.session_transaction AS A
LEFT JOIN raw_data.user_session_channel AS B ON A.sessionid = B.sessionid
LEFT JOIN raw_data.session_timestamp AS C ON A.sessionid = C.sessionid
GROUP BY 1, 2
ORDER BY 1, 2
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-05', 'Facebook', 949, 14, 0.0147523709167545, 121722480, 20507040),
 ('2019-05', 'Google', 949, 10, 0.0105374077976818, 58881600, 0),
 ('2019-05', 'Instagram', 949, 11, 0.0115911485774499, 97357680, 19187280),
 ('2019-05', 'Naver', 949, 11, 0.0115911485774499, 88017840, 2334960),
 ('2019-05', 'Organic', 949, 17, 0.017913593256059, 187405920, 27918000),
 ('2019-05', 'Youtube', 949, 10, 0.0105374077976818, 53704080, 0),
 ('2019-06', 'Facebook', 949, 22, 0.0231822971548999, 160198560, 0),
 ('2019-06', 'Google', 949, 13, 0.0136986301369863, 96139440, 0),
 ('2019-06', 'Instagram', 949, 21, 0.0221285563751317, 148422240, 4466880),
 ('2019-06', 'Naver', 949, 15, 0.0158061116965227, 110656800, 0)]

In [25]:
%%sql

DROP TABLE IF EXISTS adhoc.kain_channel_monthly_revenue;

CREATE TABLE adhoc.kain_channel_monthly_revenue AS
SELECT  left(ts, 7) as month,
        B.channel,
        COUNT(DISTINCT U.userid) uniqueUsers,
        COUNT(DISTINCT B.userid) paidUSers,
        paidUsers::float / uniqueUsers::float conversionRate,
        SUM(amount) grossRevenue,
        SUM(CASE WHEN refunded is True THEN amount ELSE 0 END) netRevenue
       -- A.sessionid as sessionid, refunded, amount
FROM raw_data.user_session_channel AS U, raw_data.session_transaction AS A
LEFT JOIN raw_data.user_session_channel AS B ON A.sessionid = B.sessionid
LEFT JOIN raw_data.session_timestamp AS C ON A.sessionid = C.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

-- 1분이 넘는 시간 소요..

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [26]:
%%sql

select *
from adhoc.kain_channel_monthly_revenue
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-05', 'Naver', 949, 11, 0.0115911485774499, 88017840, 2334960),
 ('2019-06', 'Google', 949, 13, 0.0136986301369863, 96139440, 0),
 ('2019-06', 'Naver', 949, 15, 0.0158061116965227, 110656800, 0),
 ('2019-06', 'Youtube', 949, 17, 0.017913593256059, 105783840, 0),
 ('2019-07', 'Instagram', 949, 25, 0.0263435194942044, 192481920, 13197600),
 ('2019-08', 'Naver', 949, 22, 0.0231822971548999, 185680080, 28222560),
 ('2019-08', 'Youtube', 949, 18, 0.0189673340358272, 100200240, 3756240),
 ('2019-09', 'Instagram', 949, 20, 0.0210748155953635, 127915200, 14009760),
 ('2019-09', 'Organic', 949, 23, 0.0242360379346681, 128625840, 0),
 ('2019-10', 'Google', 949, 30, 0.0316122233930453, 218268000, 5279040)]